# CODEOWNERS
# Each line is a file pattern followed by one or more owners.
# Order is important: the last matching pattern takes precedence.
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repository
* @valentin-grenier
