includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - wp-content/themes/theme-fse/
    excludePaths:
        - wp-content/themes/theme-fse/dist/*
        - wp-content/themes/theme-fse/_dev/*
    bootstrapFiles:
        - vendor/szepeviktor/phpstan-wordpress/bootstrap.php
