<!-- wp:group {"style":{"spacing":{"blockGap":"0"},"dimensions":{"minHeight":"100dvh"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","verticalAlignment":"space-between"}} -->
<div class="wp-block-group" style="min-height:100dvh">
  <!-- wp:template-part {"slug":"header","theme":"theme-fse","tagName":"header"} /-->

  <!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
  <main class="wp-block-group"><!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></main>
  <!-- /wp:group -->

  <!-- wp:template-part {"slug":"footer","theme":"theme-fse","tagName":"footer"} /-->
</div>
<!-- /wp:group -->
