on:
  push:
    branches:
      - staging

jobs:
  deploy_job:
    runs-on: ubuntu-latest
    name: Deploy Files
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Deploy to Server
        uses: wlixcc/SFTP-Deploy-Action@v1.2.6
        with:
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          server: ${{ secrets.SSH_HOST }}
          local_path: './'
          remote_path: ${{ secrets.SSH_PATH }}
          sftp_only: true
          sftpArgs: '-o ConnectTimeout=5'
          delete_remote_files: false
