name: Deploy to O2Switch via SFTP

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to server via SFTP
        uses: pressidium/lftp-mirror-action@v1
        with:
          host: ${{ secrets.SFTP_HOST }}
          user: ${{ secrets.SFTP_USERNAME }}
          pass: ${{ secrets.SFTP_PASSWORD }}
          port: 22
          localDir: "."
          remoteDir: ${{ secrets.SFTP_REMOTE_DIR }}
          options: '--delete --verbose --only-newer --no-empty-dirs --parallel=1 --exclude .git --exclude .github --exclude .gitignore --reverse'
